/*
Author  : Boon
URL     : http://builtbyboon.com
Twitter : http://twitter.com/mattberridge
---------------------------------------*/

/* -- Use this wrapper if you want to block-out a column with padding 
Taken from http://csswizardry.com/2011/10/the-island-object/) -- */
.cb {
  padding: 10px;
  margin-bottom: 10px;
}

/* -- Setup grids with base class -- */
.inner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  clear: both;
  margin-bottom: 1.5em;
}

  .inner .inner {
    margin: 0 -10px;
    /*max-width: none;*/
  }

.unit {
  padding: 0 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*.large-gutter {}
  .large-gutter .unit {
    padding: 0 20px;
  }*/

.no-gutter {
}
  .no-gutter .unit {
    padding: 0;
  }
  .inner .no-gutter,
  .no-gutter .inner {
    margin: 0;
  }
    .inner .no-gutter .unit {
      padding: 0;
    }
/*
.large-gutter .unit .reset-gutter {
  margin: 0 -20px;
}*/
.no-gutter .unit .reset-gutter {
  margin: 0;
}
  .reset-gutter .inner {
    margin: 0 -10px;
  }
  .reset-gutter .unit {
    padding: 0 10px;
  }

/*ul.inner,
ol.inner {
  padding-left: 0;
  list-style: none;
}

li.unit {
  margin-left: 0;
  margin-bottom: 0;
}*/

.size1of1,
.size1of2,
.size1of3,
.size1of4,
.size1of5,
.size2of5,
.size2of3,
.size3of5,
.size3of4,
.size4of5 { width: 100%; }
